.generator {
  position: relative;
  height: 484px;
  padding: 72px 20vw;
  display: flex;
  justify-content: space-between;
  background-color: #2fa5b1;

  & * {
    height: 54px;
    border-radius: 4px;
  }

  &__categories {
    width: 216px;

    & * {
      width: 100%;
    }
  }

  &__timer {
    width: 169px;

    & * {
      width: 100%;
    }
  }

  &__players {
    width: 188px;

    & * {
      width: 100%;
    }
  }

  &__button {
    width: 233px;

    & * {
      width: 100%;
    }
  }

  .background-dots {
    position: absolute;
    left: 58px;
    top: 145px;
    width: 200px;
    height: 220px;
  }

  .balloons-image {
    position: absolute;
    right: 28px;
    top: 110px;
    width: 286px;
    height: 386px;
  }
}
