@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import "./partials//variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

@import "./partials/header";
@import "./partials/generator";
@import "./partials/activity-container";
@import "./partials/activity-cards";
@import "./partials/activity";
@import "./partials/home";
